/unity-sprite-cutter/Library
/unity-sprite-cutter/Temp
/unity-sprite-cutter/Assembly-CSharp.csproj
/unity-sprite-cutter/Assembly-CSharp-vs.csproj
/unity-sprite-cutter/unity-sprite-cutter.sln
/unity-sprite-cutter/unity-sprite-cutter.userprefs
/unity-sprite-cutter/unity-sprite-cutter-csharp.sln
